# SQL Practice in November 2022

### [175. Combine Two Tables](https://leetcode.com/problems/combine-two-tables/)
Date: 04/10/2022

```sql
SELECT p.lastname, p.firstname, a.city, a.state FROM Person p 
LEFT JOIN Address a ON p.personId = a.personId
```