# SQL Exercise in November 2022

Date: 04/11/2022

### [175. Combine Two Tables](https://leetcode.com/problems/combine-two-tables/)

```mysql
SELECT firstName, lastName, city, state 
FROM Person LEFT JOIN Address ON Person.personId = Address.personId
```

Date: 07/11/2022

### [1393. Capital Gain/Loss](https://leetcode.com/problems/capital-gainloss/)

```mysql
SELECT 
  stock_name, 
  SUM(
    CASE WHEN operation = 'Buy' THEN - price ELSE price END
  ) capital_gain_loss 
FROM 
  Stocks 
GROUP BY 
  stock_name
```