# SQL Exercise in November 2022

Date: 04/11/2022

### [175. Combine Two Tables](https://leetcode.com/problems/combine-two-tables/)

```mysql
SELECT firstName, lastName, city, state 
FROM Person LEFT JOIN Address ON Person.personId = Address.personId
```